*{
    margin: 0;padding: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    height: 260px;
    width: 260px;
    margin-top: 50px;
    margin-left: 30vw;
    border-left: 2px solid rgb(117, 186, 243);
    border-bottom: 2px solid rgb(117, 186, 243);
    padding-bottom: 30px;
    padding-left: 30px;
    gap: 1vmin;

    
}
.container input{
    height:40px ;
    width: 260px;
    border-radius: 10px;
    /* margin-left: 13px; */
    background-color: rgba(12, 236, 23, 0.514);
    color: white;
    font-size: 30px;
    border: 2px solid white;
    /* margin-left: 10px; */
    border: none;

}
.container button{
    height: 41px;
    width: 60px;
    background-color: azure;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 1px 2px 3px rgba(0, 255, 255, 0.459);
}
.container button:hover{
    background-color: rgb(100, 175, 175);
    

}
.details-container{
    display: flex;
    gap: 3vmin;
}
.h2{
    font-size: 35px;
}
.buttons{
    margin-top: 50px;
    gap: 2vmin;
    display: flex;
    margin-left: 30vw;
}
.buttons button{
    height: 30px;
    width: 70px;
    background-color: rgb(40, 247, 119);
    color: white;
    border-radius: 10px;
}
.buttons button:hover{
    background-color: rgb(11, 145, 62);

    
}
.details-container{
    margin-left: 30vw;
    margin-top: 40px;
}